<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}
<section class="hidden">
    <div class="antojitos">
        <div class="waviy">
            <span style="--i:1">A</span>
            <span style="--i:2">N</span>
            <span style="--i:3">T</span>
            <span style="--i:4">O</span>
            <span style="--i:5">J</span>
            <span style="--i:6">I</span>
            <span style="--i:7">T</span>
            <span style="--i:8">O</span>
            <span style="--i:9">S</span>
           </div>
        <p class="anotjitos__copy">Soy una IA especializada para ayudarte hacer tus compras</p>
        <div class="form">
            <input class="form__email" placeholder="Hazme una pregunta."/>
            <br>
            <br>
            <button class="form__button">Buscar</button>
            <button class="form__button">Voy a tener Suerte</button>
        </div>
    </div>
    </section>
{% endblock %}