{% extends "layout.html" %} 
{% load static %}

{% block body %}
    <body>
        <div class="container">
            <div class="content-wrapper">
                <div class="content">
                    <h1 class="headers">Haz tus compras de forma más inteligente con PalBolsillo, tu aliado en comparación de productos.</h1>
                    <p class="p">
                        ¡Únete a nuestra innovadora plataforma panameña de Comparación de Productos y encuentra la mejor opción para tus compras! 
                        Con nuestra herramienta única, podrás comparar productos de manera fácil y rápida, garantizando que obtengas el mejor precio y 
                        la mejor calidad en tus compras. 
                    </p>
                    <br>
                    <a>
                        <button>¡Compara y ahorra con PalBolsillo!</button>
                    </a>
                </div>
                <div class="image-wrapper">
                    <img src="{% static 'img/carrito.png' %}" alt="Image">
                </div>
            </div>
        </div>
        <div class="container-1">
            <div class="content-wrapper-1">
                <div class="content-1">
                    <h1 class="headers">Palbolsillo, la mejor opción para ahorrar en tus compras de supermercado</h1>
                    <p class="p">
                        En nuestro sitio encontrarás los supermercados más cercanos a tu hogar en Panamá con los mejores precios 
                        para que puedas hacer tus compras de manera más eficiente y económica. Ofrecemos una amplia selección de tiendas de alta calidad para que puedas encontrar exactamente lo que necesitas al alcance de tu mano. 
                        ¡Ahorra tiempo y dinero al comprar en los supermercados más cercanos a ti! ¡Explora ahora para descubrir cómo podemos ayudarte a ahorrar más para tu bolsillo!
                    </p>
                    <br>
                </div>
                <div class="image-wrapper-1">
                    <img src="{% static 'img/canasta.png' %}" alt="Image">
                </div>
            </div>
        </div>
    </body>
{% endblock %}