<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Pal Bolsillo!</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name = "viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static '/css/style.css' %}"/>      
      <link rel="stylesheet" href="{% static 'css/team.css' %}"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0
      ,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/build/md5.min.js"></script>
      <script src="https://kit.fontawesome.com/d018e24280.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static '/css/mobile.css' %}"/>
  </head> 
  <body>
  <div class="wrapper" style="position: sticky;">
    <nav class="navbar">
      <div class="navbar-logo">
        <a href="{% url 'index' %}"><img src="{% static 'img/pocket.png' %}" alt="Logo"></a>
      </div>
      <div class="navbar-buttons">
        <ul>
          <li><a href="{% url 'team' %}">Equipo</a></li>
          <li><a href="{% url 'palbolsillo' %}">Pruebala Hoy!</a></li>
          <li><a href="{% url 'antojitos' %}">Antojitos</a></li>
          <li><a href="{% url 'ubicate'%}">Ubica tu Super!</a></li>
          <li><a href="{% url 'signup' %}">Registrate</a></li>
        </ul>
      </div>
      <div class="navbar-hamburger">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </div>
    <div class="content">
      {% block body %}
      {% endblock %}
    </div>
    <footer class="footer">
      <a href="#"><i class="fab fa-tiktok fa-2x fa-bounce"  style="--fa-animation-duration: 2s; color: black;"></i></a>
      <a href="https://instagram.com/pal_bolsillo?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram fa-2x fa-bounce" style="--fa-animation-duration: 1.5s; color: #c1558b; margin-left: 20px;"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x fa-bounce" style="--fa-animation-duration: 1s; color: #1c93e4; margin-left: 20px;"></i></a>
      <br>
      <br>
      <p>© 2023 Pal Bolsillo. All rights reserved.</p>
    </footer>
    <script>
      const navBarburger = document.querySelector('.navbar-hamburger');
      const menu= document.querySelector('.navbar-buttons ul');
      
      if(navBarburger){
          navBarburger.addEventListener('click', (e)=>{
              if( menu.classList.contains('show-m') ) menu.classList.remove('show-m')
              else menu.classList.add('show-m')
          })
      }
   </script>

  </body>
  <script src="{% static 'js/index.js' %}"></script>
</html>